<div class="recipe">
  <div class="name"><%= recipe.name %></div>
  <div class="image">image</div>
  <div class="about-recipe">
    <div class="portion about-el"><%= recipe.portions %></div>
     <div class="time about-el"><%= recipe.time_count_id%>分</div>
     <div class="calories about-el"><%= recipe.calories %>kcal</div>
  </div>
  <div class="recipe-content">
     <div class="ingredients">
      材料：
      <ul class="list">
        water, coffee
      </ul>
    </div>
    <div class="how_to">
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
      豆を入れる。水を入れる。コーヒーを煮る。
    </div>
    <div class="tips">
      シナモンを入れる
    </div>
    <div class="tags">
      drink
    </div>
  </div>
  <div class="social">
    <div class="is_public">check
    </div>
    <div class="like">like!
    </div>
    <div class="to-favourite">
      added!
    </div>
  </div>

</div>