<div class="recipe-card">
      <div class="card-actions">
      <div class="edit">
        <%= link_to (image_tag 'pencil.png', class:"pencil hide"), edit_calendar_path(calendar.id), method: :get %>
      </div>
      <div class="delete">
        <%= link_to (image_tag 'trash.png' , class:"trash hide"), calendar_path(calendar.id), method: :delete %>
      </div>
    </div>

   <div class="card-text">
      <% @id = calendar.recipe_id %>
      <% @recipe =  Recipe.find(@id) %>
      <%= @recipe.name %>
   </div>
</div>



