<div class="calendar-body">
  <div class="cal-top">
    <h1>カレンダー</h1>
    <h2>12月</h2>
    <h2>今週：12月1日ー12月7日</h2>
  </div>
  <div class="cal-week">
    <div class="sun">日</div>
    <div class="mon">月</div>
    <div class="tue">火</div>
    <div class="wen">水</div>
    <div class="thu">木</div>
    <div class="fri">金</div>
    <div class="sat">土</div>
  </div>
</div>