.login-body, .account-settings-body{
  width: 100vw;
  height: calc(100vh - 130px);
  background-color: #F9F4F1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.login-form, .account-settings-form{
  width: 700px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px #D0D6DC;
  padding: 40px;
  overflow: scroll;
}

.login{
  font-size: 30px;
  color: #D77A61;
}

.login-field, .settings-field{
  padding: 20px 0px 0px 0px;
}

.login-el, .settings-el{
  font-size: 20px;
  text-decoration: none;
  color: #223843;
}

.login-input, .settings-input {
  width:80%;
  height: 35px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #d0d6dd;
  border-radius: 3px;
}

.login-check{
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border: 1px solid #d0d6dd;
  border-radius: 3px;
}

.login-submit, .setting-submit{
  width: 140px;
  height: 50px;
  margin-top: 10px;
  background-color: #EFF1F3;
  border: none;
  border-radius: 5px;
  color: #223843;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  width: 90%;
  border-top: 1px solid #EFF1F3;
  padding-top: 20px;
}

.signup-form{
  width: 1000px;
  height: 470px;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px #D0D6DC;
  padding: 40px;
  /* display: flex;
  flex-direction: column; */
}

.signup-box{
  display: flex;
  /* flex-direction: column; */
}

.signup-right, .signup-left {
  width: 50%;
  height: 100%;
}

.vertical-line{
  height: 100%;
  width: 1px;
  border: 1px solid #EFF1F3;
}

.signup-input{
  width:75%;
  height: 35px;
  margin-top: 2px;
  border: 1px solid #d0d6dd;
  border-radius: 3px;
}

.signup-actions{
  display: flex;
  align-items: center;
}

.signup-btn, .upd{
  background-color: #D8B4A0;
}

.small-text{
  font-size: 14px;
}


.account-settings-form{
  margin-top: 930px;
  /* position: absolute; */
  width: 1000px;
  height: auto;
  min-height: 1410px;
  margin-bottom: 20px;
}

.settings-name{
  color: #D77A61;
  font-size: 26px;
  margin-bottom: 20px;
}

.settings-subname {
  color: #D77A61;
  font-size: 20px;
  margin-bottom: 10px;
}

.settings-input{
  width: 400px;
}

.passwords{
  display: flex;
  width: 92%;
  justify-content: space-between;
}

.settings-middle {
  display: flex;
}

.settings-left, .settings-right {
  width: 50%;
}

.settings-img-box{
  height: 213px;
  background-color: #C4CCD4;
  border-radius: 5%;
  width: 80%;
  position: relative;
  margin-top: 7px;
}

.about_me{
  height: 150px;
  width: 865px;
  padding: 10px
}

.cncl, .upd {
  margin-bottom: 20px;
}

.settings-bottom{
  display: flex;
  justify-content: space-evenly;
}

.settings-line {
  width: 90%;
  height: 50px;
  border-top: 1px solid #EFF1F3;
  margin-top: 20px;
}